# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
GOOGLE_API_KEY=xxx
MUTATION_ENGINE_API_KEY=xxx #optional: to use a separate key for mutation LLMs
BEHAVIORAL_ENGINE_API_KEY=xxx #optional: to use a separate key for judging LLMs
GOOGLE_GENAI_USE_VERTEXAI=false #optional: set to true to use Vertex AI instead of Google AI Studio
SKIP_LLM=false #optional: skip LLM calls for faster development
NAAMSE_RANDOM_SEED=1234 #optional: for reproducibility during development
